div {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: blue;
   
}
@media (min-width: 768px) {
    div {
        background: yellow;
    }
}
@media (min-width: 1024px) {
    div{
        background: red;
    }
}