@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,800;1,900&display=swap');
@import "./theme";


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

.header {
    padding: 26px 18px;
    margin: auto;
    @include flex-layout(space-between, center);

    .header__logo {

        a {
            font-size: 25px;
            letter-spacing: -1px;
            color: $text-color;
            font-weight: 600;
        }
    }
}
.header__navigation {
    @include flex-layout(center, center);

    @media(min-width: $desktop) {
        @include flex-layout(space-between, center);
    }


    .header__menu {
        position: relative;
        order: 1;

        @media(max-width: $desktop) {

            &:hover {
               .header__navigation-links {
                   
                   position: absolute;
                   top: 40px;
                   left: -30px;
                   display: block;
                   z-index: 1;
               }
            }
        }

       @media(min-width: $desktop) {
            position: block;
            order: 0;
        }

        img {
            
            width: 32px;
            height: 32px;
            padding: 5px;
            

            @media(min-width: $desktop) {
                display: none;
            }
        }
        .header__navigation-links {
                display: none;
               
              
             

                @media(min-width: $desktop) {
                    display: block;
                    margin-right: 50px;
                }

            .links-link {
                font-size: $text-size;
                color: $text-color;
                padding: 14px 16px 12px;
             
            
               
            }
           
           
        }
        
    }   

    .header__right-side {
        display: none;
        margin-right: 10px;

        @media(min-width: $tablet) {
            display: block;
        }

        button {
            padding: 13px 24px 12px;
            background-color: $primary-y;
            border: none;
            border-radius: 5px;

           
            
        }
        .links-link {
            font-size: $text-size;
            color: $text-color;
            padding: 14px 16px 12px;

          
        }
    }

}
/*.header {
    @include flex-layout(space-between, center);
    padding: 26px 18px;
}

.header__navigation {
    @include flex-layout(flex-end, center);
}

.header__navigation-menu {
    position: relative;
    order: 1;

    @media (max-width: $desktop) {
        .header__navigation-links {
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
            border-radius: $border-radius;
        }

        &:focus,
        &:focus-within {

            .header__navigation-links {
                @include flex-layout;
                flex-direction: column;
                z-index: 1;
                color: red;
            }
        }
    }
}

.header__burger-menu {
    width: 32px;
    height: 32px;
    margin-left: 48px;
    cursor: pointer;
}

.header__navigation-link {
    width: 100%;
    padding: 15px 16px 14px;
    font-size: $text-size;
    text-align: center;


    &:hover {
        border-bottom: 1px solid $border-color;

    }
}

.header__getting-started-wrapper {
    display: none;
    margin-left: 100px;
}

.header__getting-started-wrapper button {
    background-color: $primary-y;
    border-radius: $border-radius;
    padding: 15px 22px 14px;
    white-space: nowrap;
    transition: background-color 300ms ease-in-out;

    &:hover {
        background-color: $secondary-b;
    }
}

@media (min-width: $tablet) {
    .header__getting-started-wrapper {
        @include flex-layout(space-between, center)
    }
}

@media (min-width: $desktop) {
    .header__navigation-menu {
        order: 0;

    }

    .header__burger-menu {
        display: none;
    }
}

/*-----------------header end-------------------*/

/*-------------------search start---------------- */

.search {
    max-width: 1080px;
    position: relative;
    padding: 26px 18px;
    overflow: hidden;



}

.search__wrapper {
    position: absolute;
    top: 34px;
    left: 20px;
    @include flex-layout(flex-start, flex-start);
    flex-direction: column;
    z-index: 1;

    @media(min-width: $tablet) {
        left: 10px;
        top: 60px;
        width: 500px;
    }

    @media(min-width: $desktop) {
        top: 150px;
        width: 600px;
        left: 20px;
    }

    .search__heading {
        font-size: 35px;
        line-height: 50px;
        color: $text-color;
        font-weight: 600;
        margin-bottom: 10px;

        @media(min-width: $desktop) {
            font-size: 62px;
            letter-spacing: -2px;
            line-height: 78px;
            font-weight: 600;

        }


    }

    .search__input-wrapper {
        @include flex-layout(flex-start, flex-start);
        position: relative;


        @media(min-width: $desktop) {
            margin-top: 30px;

        }

        img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $white;
            pointer-events: none;
            padding-left: 10px;
        }

        input {

            background-color: $white;
            border: none;
            padding: 18px 32px 16px;

            @media(min-width: $desktop) {

                padding: 30px 150px 28px 40px;

            }
        }

        button {
            border: none;
            background-color: $primary-y;
            font-weight: 500;
            font-size: 15px;
            padding: 16px 32px 15px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            @media(min-width: $desktop) {
                padding: 28px 58px 27px;
            }
        }
    }
}


.search__blue-wrapper {

    background-color: $secondary-b;
    @include flex-layout(flex-end, flex-end);
    height: 350px;
    width: 75%;
    margin-left: auto;
    margin-right: 28px;




    @media(min-width: $desktop) {
        height: 630px;
    }


    .search__yellow-contacts {
        /* @include flex-layout(center, flex-start);
            flex-direction: column;*/
        width: auto;
        background-color: $primary-y;
        padding: 14px 26px 12px;

        @media(min-width: $desktop) {
            @include flex-layout(flex-end, flex-end);
            width: 60%;
            padding: 20px 32px 18px;
        }

        li {
            @include flex-layout(flex-start, center);
            margin-bottom: 12px;
            font-size: 18px;
            font-weight: 600;

            @media(min-width: $desktop) {
                @include flex-layout(flex-start, flex-start);
                align-items: center;

                margin: auto;
            }
        }

        img {
            margin-right: 14px;

        }

    }
}

.search__scroll-down {
    @include flex-layout();
    
    transform: rotate(-90deg);
    position: absolute;
    bottom: 60px;
    font-size: 12px;
    color: $tertiary-g;
    font-weight: 500;

    @media(min-width: $desktop) {
        bottom: 80px;
    }

    img {
        transform: rotate(90deg);
        margin-right: 15px;
    }

    &:hover {
        color: red;
        font-size: 16px;
    }
}

/*----------------search end-----------------------*/
/*------------------about start---------------------*/

/*.about {
    margin-top: 100px;
    @include flex-layout(space-between, center);
    padding: 26px 0px 26px 18px;


}

.about__left-side {
    

    .about__first-heading, .about__second-heading {
        
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 50px;
        font-weight: 600;

       
       
    }
    .about__second-heading {
        margin-bottom: 20px;
    }
    p {
        max-width: 539px;
        font-size: 13px;
        line-height: 30px;
        padding: 23px 0px 23px 0px;

    }
}

.about__right-side {
        @include flex-layout();
        flex-wrap: wrap;

    .about__right-side-cube {
        width: 200px;
        height: 200px;
        background-color: #f6f5f4;
        @include flex-layout();
        flex-direction: column;
        margin: 30px 0px 30px 30px;

        div {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            color: $primary-y;
            font-weight: 600;
           
        }
        span {
            font-size: 14px;
            line-height: 50px;
            color: $text-color;
            font-weight: 600;
        }
    }
}
*/


.about {
    @include flex-layout;
    flex-direction: column;
    padding: 0 18px;
    margin-top: $mobile-margin;
    margin-bottom: $mobile-margin;


    @media (min-width: $desktop) {
        @include flex-layout(space-between, center);
        flex-direction: row;
        margin-top: $desktop-margin;
        margin-bottom: $desktop-margin;

    }



    .about__description {

        margin-right: 10px;
        margin-bottom: $mobile-margin;

        h3 {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            font-weight: 600;
            color: $text-color;
            width: 305px;
            margin-bottom: 69px;
        }

        p {
            font-size: $text-size;
            line-height: 2;

            &:first-of-type {
                margin-bottom: 46px;
            }
        }

        @media (min-width: $desktop) {
            margin-right: 124px;
            margin-bottom: 0;
        }
    }


    .about__milestones {

        display: grid;
        grid-template-columns: 1, 200px;
        grid-template-rows: 1, 200px;
        grid-gap: 28px;

        @media (min-width: $tablet) {
            grid-template-columns: repeat(2, 200px);
            grid-template-rows: repeat(2, 200px);
            grid-gap: 28px;
        }

        .about__milestone {
            @include flex-layout;
            flex-direction: column;
            width: 200px;
            height: 200px;
            background-color: $background;


            div {
                font-size: 40px;
                letter-spacing: $text-spacing;
                color: $primary-y;
                font-weight: 600;
                margin-bottom: 20px;
            }

            span {
                font-size: $text-size;
                color: $text-color;
                font-weight: 600;
            }

        }
    }

}

/*------------------about-end----------------*/
.appartments {
    
    padding: 50px 18px;
    margin-bottom: $mobile-margin;
    background-color: #f6f5f4;

    @media (min-width: $desktop) {
        margin-bottom: 56px;
    }

    h2 {
        
        font-size: 25px;
        letter-spacing: -1px;
        line-height: 50px;
        color: $text-color;
        font-weight: 600;
        max-width: 350px;
        margin-bottom: 48px;
        margin-left: 40px;

        @media(min-width: $tablet) {
            font-size: 30px;
            max-width: 400px;

        }

        @media(min-width: $desktop) {
            font-size: 40px;
            max-width: 445px;
            margin-bottom: 78px;
            

        }
    }
}

.appartments__cards {
    @include flex-layout;
    flex-direction: column;

    @media(min-width: $tablet) {
        @include flex-layout;
        flex-wrap: wrap;
    }
    @media(min-width: $desktop) {
        @include flex-layout;
        flex-direction: row;
    }
   

    .appartments__card {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        max-width: 320px;
        height: 485px;
        background-color: $white;
        margin: 8px;

        .appartments__blue-img {
            background-color: $secondary-b;
            height: 365px;
            width: 100%;
            object-fit: cover;
            

        }
        .appartments__card-footer {

            h5 {
                font-size: 15px;
                color: $text-color;
                font-weight: 600;
                padding-left: 20px;
                margin-top: 20px;
                
            }  
        }
    }
}
.appartments__card-footer-info {
    @include flex-layout(space-between, center);
    padding: 0px 20px;

    small {
        color: $primary-y;
        font-size: 18px;
        font-weight: 600;
      
        
    }
    ul {
        @include flex-layout(center, center);
        
        
        li {
            @include flex-layout;

        
            span {
                font-size: $text-size;
                color: $text-color
            }
        }
    }
    
}

        

        .appartments__bottom {
            @include flex-layout;
            flex-direction: column;
          

            @media(min-width: $desktop) {
                @include flex-layout(flex-start, flex-start);
                flex-direction: row;
            }
            

            .input-wrapper {
                @include flex-layout(flex-start, flex-start);
                position: relative;
                margin-top: 30px;
                margin-left: 40px;

                @media(min-width: $desktop) {
                    margin-top: 45px;

                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    background-color: $white;

                }

                input {
                    background-color: $white;
                    border: none;
                    padding: 16px 32px 12px;
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;

                    @media(min-width: $desktop) {
                        padding: 26px 188px 22px 35px;
                    }
                }

                button {
                    background-color: $primary-y;
                    border: none;
                    font-weight: 500;
                    font-size: 15px;
                    padding: 14px 32px 12px;
                   /* pointer-events: none;*/
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    transition: background-color 300ms ease-in-out;

                   
                &:hover {
                    background-color: $secondary-b;
                   
                }

                    @media(min-width: $desktop) {
                        padding: 24px 35px 22px 35px;
                    }

                }
            }

            .appartments__bottom-button {
                font-size: 15px;
                color: $text-color;
                font-weight: 600;
                padding: 14px 54px 12px;
                margin-top: 30px;
                border-radius: $border-radius;
                background-color: $white;
                border: none;
                transition: background-color 300ms ease-in-out;

                &:hover {
                    background-color: $secondary-b;
                   
                }

                @media(min-width: $desktop) {
                    padding: 26px 54px 22px;
                    margin-top: 45px;
                    margin-left: 45px;
                }
               
            }

       }
    
/*------------------help start-----------------------*/

.help {
    padding: 0 18px;
    margin-bottom: 40px;

    @media(min-width: $desktop) {
        margin-bottom: 90px;
    }

    .help__text {
            margin-bottom: 70px;
            width: 100%;

            @media(min-width: $tablet) {
                width: 50%;
            }
            @media(min-width: $desktop) {
                max-width: 300px;
            }
        h2 {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            color: $text-color;
            font-weight: 600;
            margin-bottom: 35px;
        }
        p {
            font-size: $text-size;
            line-height: 30px;
            color: $text-color;
            
            
        }
    }


    .help__card-container {
       @include flex-layout(space-around, center);
       flex-wrap: wrap;

        .help__card {
            background-color: $white;
            padding: 140px 44px 50px;
            margin: 0 17px 34px;
            flex: 0 0 100%;
            overflow: hidden;
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: all 300ms linear;

            &:hover {
                background-color: $primary-y;

                .card-number, h3, .card-text, a {
                    color: $white;
                }
                a {
                    border-color: $white;
                }
                
            }

            @media(min-width: $tablet) {
                flex: 0 0 calc(50% - 17px);
            }
            @media(min-width: $desktop) {
                flex: 0 0 calc(32% - 17px);
            }


            &:first-of-type {
                width: calc(33% - 17px);
                margin-left: 0;
            }
            &:last-of-type {
                width: calc(33% - 17px);
                margin-right: 0;
            }

            .card-number {
                position: absolute;
                top: -55px;
                left: -36px;
                color: $text-color;
                font-size: 150px;
                font-weight: 700;

            }
            h3 {
                font-size: 18px;
                line-height: 63px;
                color: $text-color;
                font-weight: 600;
            }
            .card-text {
                max-width: 212px;
                font-size: $text-size;
                line-height: 30px;
                color: $text-color;
                margin-bottom: 27px;
                padding-left: 23px;
            }
            a {
                font-size: 13px;
                line-height: 1.5;
                color: $text-color;
                font-weight: 600;
                padding: 12px 0;
                border-bottom: 2px solid $text-color;
                margin-left: 23px;
                transition: all 300ms linear;
            }
        }
    }
}
/*----------------help end----------------------*/

.services {
    padding: 0 18px;
    margin-bottom: 20px;

    @media(min-width: $desktop) {
        margin-bottom: 90px;
    }

    p {
        @include paragraph;
        text-indent: 30px;
    }
   
   .services__heading {
        margin-bottom: 60px;
        @include flex-layout(center, center);
        flex-direction: column;

        @media(min-width: $desktop) {
            @include flex-layout(flex-start, flex-start);
        }



  
      h1 {
            font-size: 40px;
            letter-spacing: -1px;
            color: $text-color;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 40px;
      }
      p {
            max-width: 361px;
            /*font-size: $text-size;
            line-height: 30px;
            color: $text-color;*/
      }
    }

    .services__information {
            @include flex-layout(center, center);
            flex-direction: column;

            @media(min-width: $desktop) {
                @include flex-layout(space-between, flex-start);
                flex-direction: row;
            }
           

        img {
           
            width: 100%;
            height: 300px;
            background-color: $secondary-b;
            object-fit: cover;
            margin-bottom: 40px;

            @media(min-width: $tablet) {
                width: 70%;
                height: 400px;

            }

            @media(min-width: $desktop) {
                width: 50%;
                height: 630px;
                margin-bottom: 0;
            }


        }
        .services__information-text {
           
            .text {
                margin-bottom: 40px;
                @include flex-layout(center, center);
                flex-direction: column;
        
                @media(min-width: $desktop) {
                    @include flex-layout(flex-start, flex-start);
                }

                h3 {
                    font-size: 25px;
                    letter-spacing: -1px;
                    color: $text-color;
                    font-weight: 600;
                    margin-bottom: 34px;
                }
                p {
                    max-width: 450px;
                    /*font-size: 13px;
                    line-height: 30px;
                    color: $text-color*/
                }
            }
        }
   }
}
/*---------------------services end-----------------------*/

.agents  {
    padding: 40px 18px;
    margin-bottom: 90px;
    background-color: $background;

    .agents__heading {
            margin-bottom: 20px;
            @include flex-layout;
            flex-direction: column;

            @media(min-width: $desktop) {
                margin-bottom: 50px;
                @include flex-layout(flex-start, flex-start);
            }
        h2 {
            font-size: 35px;
            letter-spacing: -1px;
            color: $text-color;
            font-weight: 600;
            margin-bottom: 40px;
            animation-name: pulse;
            animation-duration: 3s;
            
            @keyframes pulse {
                0%,100% {font-size:35px;}
                50% {font-size:50px;}
            }   
            
        }
        p {
            @include paragraph;
            max-width: 320px;
        }
    }
    .agents__cards {
        @include flex-layout(center, center);
        flex-wrap: wrap;

        @media(min-width: $desktop) {
            @include flex-layout(space-between, center);
            flex-direction: row;
        }
        .agents__cards-card {

            width: 320px;
            height: 460px;
            margin: 20px;

            @media(min-width: $desktop) {
                margin: 0;
            }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 380px;
                    background-color: $tertiary-g;
                    display: flex;
                    justify-content: center;
                }
            
             
            
            .agents__cards-card-footer {
                padding: 20px;
                background-color: $white;

                h3 {
                    font-size: 15px;
                    color: $text-color;
                    font-weight: 600;
                    
                }
                .agents__cards-card-footer-info {
                    @include flex-layout(space-between, center);

                    span {
                        font-size: 13px;
                        color: $primary-y;
                        font-weight: 600;
                    }
                    .footer-links {
                            @include flex-layout;
                        img {
                            width: 40px;
                            height: 40px;
                            background-color: $white;

                            &:hover {
                                img {
                                    border-radius: 50px;
                                    background-color: $secondary-b;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}
/*-------------------------------agents end------------------------------------*/