.always-tasty-burger {
    max-width: 1440px;
    margin: auto;
    padding: 0 202px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 68px;

}
.always-tasty-burger button {
    background: #ffc045;
    width: 218px;
    font-size: 25px;
    padding: 12px 20px 11px;
    color: #3d2514;
    font-family: "Bebas Neue";
    border: none;
    margin-bottom: 38px;

}
.always-tasty-burger h2 {
    font-size: 50px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    text-transform: uppercase;
    margin-bottom: 26px;
}
.always-tasty-burger p {
    font-size: 17px;
    color: #3d2514;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    line-height: 1.5;
}




